---

layout: post
title: "IOS UI Github开源代码"
description: "github里，收集的IOS UI开源代码"
category: IOS
tags: [IOS,Github,UI,开源]
source_github_items: [
     {
          source_keywords: [菊花,进度条,加载,等待],
          source_projects: [
                         {
                              source_user: "jdg",
                              source_repo: "MBProgressHUD",
                              source_imgs: [
                              "https://camo.githubusercontent.com/8211f8a4fa848499e174fa3d6125adb2044c182e/687474703a2f2f646c2e64726f70626f782e636f6d2f752f3337383732392f4d4250726f67726573734855442f312d7468756d622e706e67",
                              ]
                         },
                         {
                              source_user: "TransitApp",
                              source_repo: "SVProgressHUD",
                              source_imgs: [
                                        "https://camo.githubusercontent.com/6ed028acbf67707d622344e0ef1bc3b098425b50/687474703a2f2f662e636c2e6c792f6974656d732f32473146315a304d306b306832553356317033392f535650726f67726573734855442e676966",
                              ]
                         },
                         {
                              source_user: "mrackwitz",
                              source_repo: "MRProgress",
                              source_imgs: [
                                        "https://github.com/mrackwitz/MRProgress/raw/master/Images/screenshot_004_2.jpg",
                                        "https://github.com/mrackwitz/MRProgress/raw/master/Images/circular_indeterminate.gif",
                              ]
                         },
                         {
                              source_user: "Marxon13",
                              source_repo: "M13ProgressSuite",
                              source_imgs: [
                                        "https://camo.githubusercontent.com/09f2c629a458564176f6096db0be1a69b8eaad92/68747470733a2f2f7261772e6769746875622e636f6d2f4d6172786f6e31332f4d313350726f677265737353756974652f6d61737465722f526561646d655265736f75726365732f55494e617669676174696f6e4261722e676966",
                                        "https://camo.githubusercontent.com/43c88763dfb22758f0f291404655e93d346b0b7d/68747470733a2f2f7261772e6769746875622e636f6d2f4d6172786f6e31332f4d313350726f677265737353756974652f6d61737465722f526561646d655265736f75726365732f4261722e676966",
                                        "https://camo.githubusercontent.com/e54ca5075db0dfafc39bdce255f0432bd925343c/68747470733a2f2f7261772e6769746875622e636f6d2f4d6172786f6e31332f4d313350726f677265737353756974652f6d61737465722f526561646d655265736f75726365732f52696e672e676966",
                              ]
                         },

          ]
     },
    {
          source_keywords: [提示,通知,消息],
          source_projects: [
                         {
                              source_user: "KrauseFx",
                              source_repo: "TSMessages",
                              source_imgs: [
 "https://camo.githubusercontent.com/37b2b2cd6f706493dc42dcf06c60bf098fb61f64/687474703a2f2f7777772e746f7572737072756e672e636f6d2f77702d636f6e74656e742f75706c6f6164732f323031332f30392f6572726f725f696f73372e706e67",
                              ]
                         },
                         {
                              source_user: "cruffenach",
                              source_repo: "CRToast",
                              source_imgs: [
 "https://github.com/cruffenach/CRToast/raw/master/screenshots/demo.gif",
                              ]
                         },
                         {
                              source_user: "jaydee3",
                              source_repo: "JDStatusBarNotification",
                              source_description: "用于状态栏",
                              source_imgs: [
 "https://github.com/jaydee3/JDStatusBarNotification/raw/master/gfx/progress.gif",
 "https://github.com/jaydee3/JDStatusBarNotification/raw/master/gfx/activity.gif",
                              ]
                         },
          ]
     },
     {
          source_keywords: [弹框,对话框],
          source_projects: [
                         {
                              source_user: "m1entus",
                              source_repo: "MZFormSheetController",
                              source_description: "基于UIWindow，有支持ios8的新项目",
                              source_imgs: [
 "https://camo.githubusercontent.com/5102370cc8d6a2c29bdc6db4bcdce6cac98da907/68747470733a2f2f7261772e6769746875622e636f6d2f6d31656e7475732f4d5a466f726d5368656574436f6e74726f6c6c65722f6d61737465722f53637265656e732f616e696d6174696f6e312e676966",
                              ]
                         },
          ]
     },
     {
          source_keywords: [侧边栏,抽屉],
          source_projects: [
                         {
                              source_user: "romaonthego",
                              source_repo: "RESideMenu",
                              source_imgs: [
                                        "https://raw.githubusercontent.com/romaonthego/RESideMenu/master/Demo.gif?2",
                              ]
                         },

                         {
                              source_user: "mutualmobile",
                              source_repo: "MMDrawerController",
                              source_imgs: [
                                        "https://camo.githubusercontent.com/171bc22d1f4ad13f7be22cf546c2644176066193/687474703a2f2f6d757475616c6d6f62696c652e6769746875622e696f2f4d4d447261776572436f6e74726f6c6c65722f4578616d706c65496d616765732f6578616d706c65312e706e67",
                              ]
                         },

                        {
                              source_user: "erichoracek",
                              source_repo: "MSDynamicsDrawerViewController",
                              source_imgs: [
                                        "https://camo.githubusercontent.com/dd10d9cce48a326b7124daa8e6e6ff8c8b552505/68747470733a2f2f7261772e6769746875622e636f6d2f6d6f6e6f7370616365636f6c6c6563746976652f4d5344796e616d69637344726177657256696577436f6e74726f6c6c65722f6d61737465722f53637265656e73686f74732f666c696e672e676966",
                              ]
                         },
                         
                         {
                              source_user: "romaonthego",
                              source_repo: "REFrostedViewController",
                              source_imgs: [
                                        "https://github.com/romaonthego/REFrostedViewController/raw/master/Demo.gif",
                              ]
                         },
                         
                         {
                              source_user: "JVillella",
                              source_repo: "JVFloatingDrawer",
                              source_imgs: [
                                        "https://camo.githubusercontent.com/44098d6ff4f858b06190b4d39afac8f51d4c7803/687474703a2f2f6a76696c6c656c6c612e6769746875622e696f2f4a56466c6f6174696e674472617765722f53637265656e73686f74732f616e696d617465642d6472617765722d6f70656e2d706f7274726169742e676966",
                              ]
                         },
          ]
     },
    {
          source_keywords: [cell,滑动操作],
          source_projects: [
                         {
                              source_user: "CEWendel",
                              source_repo: "SWTableViewCell",
                              source_imgs: [
 "https://camo.githubusercontent.com/c138fcd3df24ae1d91f8bf6feb51a1cf111606a4/687474703a2f2f692e696d6775722e636f6d2f6e6a4b436a4b382e676966",
                              ]
                         },
                        {
                              source_user: "alikaragoz",
                              source_repo: "MCSwipeTableViewCell",
                              source_description: "滑动直接操作无需点击",
                              source_imgs: [
 "https://camo.githubusercontent.com/920edc96067f746397808498b555b481e68d14a8/68747470733a2f2f7261772e6769746875622e636f6d2f616c696b617261676f7a2f4d4353776970655461626c655669657743656c6c2f6d61737465722f6769746875622d6173736574732f6d6373776970652d657869742e676966",
                              ]
                         },
                        {
                              source_user: "MortimerGoro",
                              source_repo: "MGSwipeTableCell",
                              source_imgs: [
 "https://raw.githubusercontent.com/MortimerGoro/MGSwipeTableCell/master/readme-assets/border.gif",
                              ]
                         },
          ]
     },
    {
          source_keywords: [聊天,即时通讯],
          source_projects: [
                         {
                              source_user: "jessesquires",
                              source_repo: "JSQMessagesViewController",
                              source_imgs: [
 "https://raw.githubusercontent.com/jessesquires/JSQMessagesViewController/develop/Screenshots/screenshot0.png",
                              ]
                         },
                        {
                              source_user: "layerhq",
                              source_repo: "Atlas-iOS",
                              source_imgs: [
 "https://github.com/layerhq/Atlas-iOS/raw/master/Examples/Screenshots/walkthrough.gif",
                              ]
                         },
                        {
                              source_user: "xhzengAIB",
                              source_repo: "MessageDisplayKit",
                              source_imgs: [
 "https://github.com/xhzengAIB/LearnEnglish/raw/master/Screenshots/MessageDisplayKit.gif",
                              ]
                         },
          ]
     },
    {
          source_keywords: [下拉刷新],
          source_projects: [
                         {
                              source_user: "CoderMJLee",
                              source_repo: "MJRefresh",
                              source_description: "上拉加载更多，gif动画",
                              source_imgs: [
 "https://camo.githubusercontent.com/15577b87be4403d9e2ede4d5cd5b9fccbd1d03ae/687474703a2f2f696d61676573302e636e626c6f67732e636f6d2f626c6f67323031352f3439373237392f3230313530362f3134313230343334333438363135312e676966",
                              ]
                         },
                        {
                              source_user: "coolbeet",
                              source_repo: "CBStoreHouseRefreshControl",
                              source_imgs: [
 "https://camo.githubusercontent.com/a0ff4643665482e588bbf9f951069251604dd118/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f737579752e746573742f434253746f7265486f75736552656672657368436f6e74726f6c322e676966",
                              ]
                         },
                        {
                              source_user: "uzysjung",
                              source_repo: "UzysAnimatedGifPullToRefresh",
                              source_description: "gif动画",
                              source_imgs: [
 "https://raw.githubusercontent.com/uzysjung/UzysAnimatedGifPullToRefresh/master/UzysAnimatedGifPullToRefresh.gif",
                              ]
                         },
                        {
                              source_user: "Yalantis",
                              source_repo: "Pull-to-Refresh.Rentals-iOS",
                              source_imgs: [
 "https://camo.githubusercontent.com/d406ac5a03a2b1fa5cf41fadc8d2408cb8709bdc/68747470733a2f2f6431337961637572716a676172612e636c6f756466726f6e742e6e65742f75736572732f3132353035362f73637265656e73686f74732f313635303331372f7265616c6573746174652d70756c6c5f312d322d332e676966",
                              ]
                         },
          ]
     },
    {
          source_keywords: [富文本],
          source_projects: [
                         {
                              source_user: "TTTAttributedLabel",
                              source_repo: "TTTAttributedLabel",
                         },
                        {
                              source_user: "Cocoanetics",
                              source_repo: "DTCoreText",
                         },
                        {
                              source_user: "nnhubbard",
                              source_repo: "ZSSRichTextEditor",
                              source_description: "可编辑",
                              source_imgs: [
 "https://camo.githubusercontent.com/2bcf02776f39cae560c57793adbd5eaf4fff9223/687474703a2f2f662e636c2e6c792f6974656d732f304c3363304e337531343251325330763159306f2f64656d6f312e676966",
                              ]
                         },
          ]
     },
    {
          source_keywords: [引导页],
          source_projects: [
                         {
                              source_user: "IFTTT",
                              source_repo: "JazzHands",
                              source_description: "基于手势动画",
                              source_imgs: [
 "https://github.com/IFTTT/JazzHands/raw/master/Example/Docs/if-intro.gif",
                              ]
                         },
                        {
                              source_user: "ealeksandrov",
                              source_repo: "EAIntroView",
                              source_imgs: [
 "https://raw.githubusercontent.com/ealeksandrov/EAIntroView/master/Screenshot01.png",
                              ]
                         },
          ]
     },
    {
          source_keywords: [图片浏览],
          source_projects: [
                         {
                              source_user: "mwaterfall",
                              source_repo: "MWPhotoBrowser",
                              source_imgs: [
 "https://camo.githubusercontent.com/2f47c5ac3865bf4b09d3c77e2d325d5d5abf09fe/68747470733a2f2f7261772e6769746875622e636f6d2f6d776174657266616c6c2f4d5750686f746f42726f777365722f6d61737465722f53637265656e73686f74732f4d5750686f746f42726f7773657231742e706e67",
                              ]
                         },
                        {
                              source_user: "EddyBorja",
                              source_repo: "EBPhotoPages",
                              source_description: "附带标签,评论",
                              source_imgs: [
 "https://github.com/EddyBorja/EBPhotoPages/raw/master/1.png",
                              ]
                         },
						 {
                              source_user: "chiahsien",
                              source_repo: "CHTCollectionViewWaterfallLayout",
                              source_imgs: [
 "https://cloud.githubusercontent.com/assets/474/3419095/25b4de9e-fe56-11e3-9b98-690319d736ce.png",
                              ]
                         },
                        {
                              source_user: "njdehoog",
                              source_repo: "NHBalancedFlowLayout",
                              source_imgs: [
 "https://camo.githubusercontent.com/f156e152f6fc5d491b81943f881b1220a121f85a/687474703a2f2f692e696d6775722e636f6d2f3246476e4449682e6a7067",
                              ]
                         },
                        {
                              source_user: "ra1028",
                              source_repo: "RACollectionViewReorderableTripletLayout",
                              source_description: "可拖动,拖拽",
                              source_imgs: [
 "https://github.com/ra1028/RACollectionViewReorderableTripletLayout/raw/master/Assets/animation.gif",
                              ]
                         },
                        {
                              source_user: "norsez",
                              source_repo: "BDDynamicGridViewController",
                              source_description: "动画不错",
                              source_imgs: [
 "https://github.com/norsez/BDDynamicGridViewController/raw/master/BDDynamicGridViewDemo/screencap1.png",
                              ]
                         },
                        {
                              source_user: "ra1028",
                              source_repo: "RAReorderableLayout",
                              source_description: "swift，可拖动，拖拽",
                              source_imgs: [
 "https://github.com/ra1028/RAReorderableLayout/raw/master/Assets/screenshot1.png",
                              ]
                         },
          ]
     },
	 {
          source_keywords: [过渡效果,视图切换],
          source_projects: [
		  {
				source_user: "zhxnlai",
				source_repo: "ZLSwipeableView",
				source_description: "卡片切换",
				source_imgs: [
				"https://github.com/zhxnlai/ZLSwipeableView/raw/master/Previews/swipe.gif",
				]
			},
			{
				source_user: "modocache",
				source_repo: "MDCSwipeToChoose",
				source_description: "卡片切换",
				source_imgs: [
				"https://camo.githubusercontent.com/07a54fcf8ab7a955c22e58168178a91f800eecb8/687474703a2f2f636c2e6c792f696d6167652f304d316a314a3045307333472f4d44435377697065546f43686f6f73652d76302e322e302e676966",
				]
			},
                         {
                              source_user: "jaredsinclair",
                              source_repo: "JTSImageViewController",
							  source_description: "单张图片浏览",
                              source_imgs: [
 "https://raw.githubusercontent.com/jaredsinclair/JTSImageViewController/master/jts-image-viewer-screenshot.png",
                              ]
                         },
						  {
                              source_user: "u10int",
                              source_repo: "URBMediaFocusViewController",
                              source_description: "单张图片浏览",
                              source_imgs: [
 "https://camo.githubusercontent.com/1d69125bcc852e49822fb5dfbcb1de8771774c6a/68747470733a2f2f646c2e64726f70626f7875736572636f6e74656e742e636f6d2f752f3139373938302f53637265656e73686f74732f5552424d65646961466f63757356696577436f6e74726f6c6c657230332e676966",
                              ]
                         },
                        {
                              source_user: "autresphere",
                              source_repo: "ASMediaFocusManager",
							  source_description: "支持视频和图片",
                              source_imgs: [
 "https://github.com/autresphere/ASMediaFocusManager/raw/master/Screenshots/video.gif",
  "https://github.com/autresphere/ASMediaFocusManager/raw/master/Screenshots/videoFocusOnVideo.gif",
                              ]
                         },
						 {
							source_user: "nicklockwood",
							source_repo: "iCarousel",
							source_description: "UICollectionView高级效果，旋转，切换，浏览",
							source_imgs: [
							"https://camo.githubusercontent.com/5009bf5a4aca75ce4026fc5f5e7960e997ebf613/687474703a2f2f672e7265636f726469742e636f2f78743836694b334137662e676966",
							]
						},
						{
							source_user: "gleue",
							source_repo: "TGLStackedViewController",
							source_description: "卡片列表，UICollectionView",
							source_imgs: [
							"https://camo.githubusercontent.com/8270cb08b7319e07298cf18126b518e6936f5115/68747470733a2f2f7261772e6769746875622e636f6d2f676c6575652f54474c537461636b656456696577436f6e74726f6c6c65722f6d61737465722f53637265656e73686f74732f54474c537461636b6564566965774578616d706c652e676966",
							]
						},
						{
							source_user: "xmartlabs",
							source_repo: "XLPagerTabStrip",
							source_description: "",
							source_imgs: [
							"https://github.com/xmartlabs/XLPagerTabStrip/raw/master/XLPagerTabStrip/Demo/PagerSlidingTabStrip.gif",
							]
						},
						{
							source_user: "StefanLage",
							source_repo: "SLPagingView",
							source_description: "bug多!",
							source_imgs: [
								"https://github.com/StefanLage/SLPagingView/raw/master/Demos/TinderLike/tinder.gif",
								"https://github.com/StefanLage/SLPagingView/raw/master/Demos/TwitterLike/twitter.gif",
							]
						},
						{
							source_user: "TomThorpe",
							source_repo: "UIScrollSlidingPages",
							source_description: "丑死",
							source_imgs: [
								"https://github.com/TomThorpe/UIScrollSlidingPages/raw/master/Screenshots/uiscrollslidingpages.gif",
							]
						},
          ]
     },
	{
		source_keywords: [相册选择],
		source_projects: [
			{
				source_user: "chiunam",
				source_repo: "CTAssetsPickerController",
				source_description: "图片视频多选",
				source_imgs: [
					"https://github.com/chiunam/CTAssetsPickerController/raw/master/Screenshot.png",
				]
			},
			{
				source_user: "uzysjung",
				source_repo: "UzysAssetsPickerController",
				source_description: "图片视频多选",
				source_imgs: [
					"https://raw.githubusercontent.com/uzysjung/UzysAssetsPickerController/master/UzysAssetsPickerController.gif",
				]
			},
		]
	},
	{
		source_keywords: [相机],
		source_projects: [
			{
				source_user: "piemonte",
				source_repo: "PBJVision",
				source_description: "视频拼接",
				source_imgs: [
					"https://raw.githubusercontent.com/piemonte/PBJVision/master/pbj.gif",
				]
			},
			{
				source_user: "rFlex",
				source_repo: "SCRecorder",
				source_description: "",
				source_imgs: [
					"https://github.com/rFlex/SCRecorder/raw/master/filters.gif",
					"https://github.com/rFlex/SCRecorder/raw/master/screenshot_2.png",
					"https://github.com/rFlex/SCRecorder/raw/master/animated_filters.gif",
				]
			},
			{
				source_user: "danielebogo",
				source_repo: "DBCamera",
				source_description: "高度自定义",
				source_imgs: [
					"https://camo.githubusercontent.com/f9be7495d67853c427c9de003699ac6c80098180/687474703a2f2f626f676f64616e69656c652e636f6d2f617070732f646576656c6f706d656e742f646263616d6572612f6769746875622f646263616d6572615f73706c6173682e706e67",
				]
			},
			{
				source_user: "dzenbot",
				source_repo: "DZNPhotoPickerController",
				source_description: "相册选择，拍照",
				source_imgs: [
					"https://github.com/dzenbot/DZNPhotoPickerController/raw/master/Docs/screenshots.png",
				]
			},
		]
	},
	{
		source_keywords: [图表,表格,chart],
		source_projects: [
			{
				source_user: "kevinzhow",
				source_repo: "PNChart",
				source_description: "",
				source_imgs: [
					"https://camo.githubusercontent.com/e99c1bbab103c63efd561c4997a4bedb878bb2a2/68747470733a2f2f646c2e64726f70626f7875736572636f6e74656e742e636f6d2f752f313539393636322f706e63686172742e676966",
					"https://camo.githubusercontent.com/21dfb1835ae744efa81c6221d336182c96cc305b/68747470733a2f2f646c2e64726f70626f7875736572636f6e74656e742e636f6d2f752f313539393636322f6c696e652e706e67",
					"https://camo.githubusercontent.com/c76ca0042953db9cfac8fbe7272ffd7ae80d01c9/68747470733a2f2f646c2e64726f70626f7875736572636f6e74656e742e636f6d2f752f313539393636322f6261722e706e67",
					"https://camo.githubusercontent.com/6f8a655aab4080b9490ab3ca4aca0cbcd2d2971c/68747470733a2f2f646c2e64726f70626f7875736572636f6e74656e742e636f6d2f752f313539393636322f636972636c652e706e67",
					"https://camo.githubusercontent.com/cd7aefc21305aea7345e6a24b5066d60aff298bd/68747470733a2f2f646c2e64726f70626f7875736572636f6e74656e742e636f6d2f752f313539393636322f7069652e706e67",
					"https://camo.githubusercontent.com/aca0d1763008ff07a4a52fb3c4a2aec24beb8a83/68747470733a2f2f646c2e64726f70626f7875736572636f6e74656e742e636f6d2f752f313539393636322f736361747465722e706e67",
					"https://camo.githubusercontent.com/4d5e2514875305c3596b2546d4441371b210e056/68747470733a2f2f646c2e64726f70626f7875736572636f6e74656e742e636f6d2f752f343930343434372f706e63686172745f6c6567656e645f312e706e67",
					"https://camo.githubusercontent.com/911e1e0a24fd4d70a8245b740bde5e739f93353e/68747470733a2f2f646c2e64726f70626f7875736572636f6e74656e742e636f6d2f752f343930343434372f706e63686172745f6c6567656e645f322e706e67",
				]
			},
		]
	},
    {
          source_keywords: [特效,动画],
          source_projects: [
                         {
                              source_user: "facebook",
                              source_repo: "Shimmer",
                              source_imgs: [
 "https://github.com/facebook/Shimmer/raw/master/shimmer.gif?raw=true",
                              ]
                         },
                        {
                              source_user: "lexrus",
                              source_repo: "LTMorphingLabel",
                              source_description: "swift编写",
                              source_imgs: [
 "https://cloud.githubusercontent.com/assets/219689/3491822/96bf5de6-059d-11e4-9826-a6f82025d1af.gif",
                              ]
                         },
                        {
                              source_user: "TomKnig",
                              source_repo: "TOMSMorphingLabel",
                              source_imgs: [
 "https://github.com/tomknig/TOMSMorphingLabel/raw/master/demo.gif",
                              ]
                         },
          ]
     },
    {
              source_keywords: [基础],
              source_projects: [
                             {
                                  source_user: "Grouper",
                                  source_repo: "FlatUIKit",
                                  source_description: "扁平化UI，flat，全局UI控制",
                             },
                             {
                                  source_user: "tombenner",
                                  source_repo: "nui",
                                  source_description: "类似css控制UI风格",
                             },
                             {
                                  source_user: "ViccAlexander",
                                  source_repo: "Chameleon",
                                  source_description: "flat，扁平化，颜色",
                             },
                             {
                                  source_user: "bennyguitar",
                                  source_repo: "Colours",
                                  source_description: "flat，扁平化，颜色",
                             },
                             {
                                  source_user: "Ideon",
                                  source_repo: "SmudgeKit",
                                  source_description: "基于window显示手势",
                             },
              ]
         },
]

---

<head>
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript">
		$(document).ready(function(){
			$('body').scrollspy({
				target: '.bs-docs-sidebar',
				offset: 40
			});		
			$('.bs-docs-sidebar').affix({
			  offset: {
				top: $('.bs-docs-sidebar').offset().top,
				bottom: $('body').height()-$('.main-content').offset().top-$('.main-content').height()+20
			  }
			});
		});
    </script>
	
	
    <style type="text/css">
		/* 主内容 */
        .group {
            padding-top: 40px;
            padding-bottom: 40px;
        }
        .group .subgroup {
            padding-top: 30px;
            padding-bottom: 30px;
        }
		
		.css_project_img_div {
			height:100px;
		}
		.css_project_img{
			max-height:100%;
			max-width:33%;
		}
		
		/* 侧边栏*/
		.bs-docs-sidebar.affix,.bs-docs-sidebar.affix-top{
			top:20px
		}
		.bs-docs-sidebar.affix-bottom {
			position:absolute
		}
		
		.bs-docs-sidebar .nav>li>a {
			display:block;
			padding:4px 20px;
			font-size:13px;
			font-weight:500;
			color:#767676
		}
		.bs-docs-sidebar .nav>li>a:focus,.bs-docs-sidebar .nav>li>a:hover {
			padding-left:19px;
			color:#563d7c;
			text-decoration:none;
			background-color:transparent;
			border-left:1px solid #563d7c
		}
		.bs-docs-sidebar .nav>.active:focus>a,.bs-docs-sidebar .nav>.active:hover>a,.bs-docs-sidebar .nav>.active>a {
			padding-left:18px;
			font-weight:700;
			color:#563d7c;
			background-color:transparent;
			border-left:2px solid #563d7c
		}
		.bs-docs-sidebar .nav .nav {
			display:none;
			padding-bottom:10px
		}
		.bs-docs-sidebar .nav .nav>li>a {
			padding-top:1px;
			padding-bottom:1px;
			padding-left:30px;
			font-size:12px;
			font-weight:400
		}
		.bs-docs-sidebar .nav .nav>li>a:focus,.bs-docs-sidebar .nav .nav>li>a:hover {
			padding-left:29px
		}
		.bs-docs-sidebar .nav .nav>.active:focus>a,.bs-docs-sidebar .nav .nav>.active:hover>a,.bs-docs-sidebar .nav .nav>.active>a {
			padding-left:28px;
			font-weight:500
		}
		@media (min-width:992px) {
			.bs-docs-sidebar .nav>.active>ul {
			display:block
		}
    </style>
</head>




<div class="row">
    <!--Main Content -->
    <div class="col-xs-7 main-content">
        {% for github_item in page.source_github_items %}
            {% capture group %}{% for keyword in github_item.source_keywords %}{{ keyword }}{% if forloop.rindex != 1 %},{% endif %}{% endfor %}{% endcapture %}
            <section id="{{group | replace:',', '-'}}" class="group">
                <h3>{{group}}</h3>
                {% for project in github_item.source_projects %}
                    <div id="{{project.source_repo}}" class="subgroup">
                        <a href="//github.com/{{project.source_user}}/{{project.source_repo}}" role="button" target="_blank">{{project.source_repo}}</a>
                        <iframe src="https://ghbtns.com/github-btn.html?user={{project.source_user}}&repo={{project.source_repo}}&type=star&count=true" frameborder="0" scrolling="0" width="120px" height="20px"></iframe>
                        {{project.source_description}}
                        {% if project.source_imgs %}
                            <div class="css_project_img_div">
                            {% for img in project.source_imgs %}
                                <img class="css_project_img img-rounded" src="{{img}}" alt="效果图">
                            {% endfor %}			
                            </div>
                        {% endif %} 
                    </div>
                {% endfor %}
            </section>
        {% endfor %}   
    </div>
    <!--Nav Bar -->
	<div class="col-xs-5">
		<nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm">
			<ul class="nav bs-docs-sidenav">
				{% for github_item in page.source_github_items %}
					{% capture group %}{% for keyword in github_item.source_keywords %}{{ keyword }}{% if forloop.rindex != 1 %},{% endif %}{% endfor %}{% endcapture %}
					<li>
						<a href="#{{group | replace:',', '-'}}">{{group}}</a>
						<ul class="nav">
							{% for project in github_item.source_projects %}
								<li><a href="#{{project.source_repo}}">{{project.source_repo}}</a></li>
							{% endfor %}
						</ul>
					</li>
				{% endfor %}
			</ul>
		</nav>
	</div>
</div>